.pageBody {
    margin-top: 80px;
    padding: 1rem;

    /* estilos del contenedor principañ*/
    .pageContent {
        box-sizing: border-box;
        width: 100%;
        background-color: white;
        min-height: 90vh;
        border-radius: 20px;
        color: black;
        padding: 2rem;
    }
    
    /* estilos del titulo */
    h1 {
        margin-top: 0;
        font-size: 3rem;
        font-weight: 100;
        .posts {
            background: linear-gradient(to left, #00E6E3 2.73%, #00FF68 100%);;
            color: black;
            padding: .25rem 1rem;
            margin: 0 .3rem;
            font-weight: normal;
        }
        
    }
}