.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid;
    z-index: 99;
    // transicion de color del fondo
    transition: background-color ease-in-out 200ms;

    padding: 1.7rem 13%;
    @media screen and (max-width: 768px) {
        padding: 1.7rem 5%;
    }

    /* estilos del logo del navbar*/
    .logo {
        height: 62px;
        margin-left: 1rem;
    }

    /* estilos para las acciones*/
    @import 'actions';
}

/* estilos para el menu icon*/
@import 'menuIcon';
